body {
    font-family: sans-serif;
}

h1 > svg {
    height: 1em;
    vertical-align: top;
    margin-left: .25em;
}

#selection {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: .5em;
    margin: 1em 0 1em 0;
    align-items: baseline;
}

button {
    height: 100%;
}

.graph {
}

.legendText {
    font-size: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-size: 12px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}