body {
    font-family: sans-serif;
}

.graph {
    display: grid;
    grid-row-gap: 2em;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-size: 12px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}